@mixin createTippyTheme($theme, $bgColor, $textColor) {
  .tippy-box[data-theme~='#{$theme}'] {
    @apply font-medium;
    background-color: $bgColor;
    color: $textColor;
  }

  .tippy-box[data-theme~='#{$theme}'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: $bgColor;
  }

  .tippy-box[data-theme~='#{$theme}'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: $bgColor;
  }

  .tippy-box[data-theme~='#{$theme}'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: $bgColor;
  }

  .tippy-box[data-theme~='#{$theme}'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: $bgColor;
  }
}

@include createTippyTheme('error', theme('colors.danger'), theme('colors.text'));
