html {
  background-color: theme('colors.background') !important;
  color: theme('colors.text') !important;
}

@include themed('.n-button.n-button--tertiary-type', 'light') {
  .n-button__border {
    border: 1px solid #E0E0E0 !important;
  }

  .n-button__state-border {
    border: none !important;
  }

  &:not(.n-button--disabled):hover {
    background: #E0E0E0 !important;
    .n-button__state-border {
      border: none !important;
    }
  }
}

@include themed('.n-button.n-button--tertiary-type .n-button__border', 'dark') {
  border: 1px solid transparent !important;
}

.n-base-selection:not(.n-base-selection--disabled) .n-base-selection-label, .n-input:not(.n-input--disabled) {
  background-color: theme('colors.input-background') !important;
}

.n-base-selection:not(.n-base-selection--disabled) .n-base-selection-placeholder, .n-input:not(.n-input--disabled) .n-input__placeholder {
  color: theme('colors.card-text') !important;
}

@include themed('.n-card', 'light') {
  box-shadow: theme('boxShadow.harder') !important;
}

.n-collapse-item__header--active .n-collapse-item__header-main {
  font-weight: 500 !important;
  color: theme('colors.main-brand') !important;
}

.n-base-selection.n-base-selection--disabled {
  border: none !important;

  * {
    border: none !important;
  }
}

$buttons: ('default': 'main-brand', 'primary': 'main-brand', 'info': 'info', 'success': 'success', 'warning': 'warning', 'error': 'danger');
@each $t in ('light', 'dark') {
  @each $btn, $n in $buttons {
    [theme=#{$t}] .n-button.n-button--#{$btn}-type.n-button--dashed:active {
      color: theme('colors.#{$n}-hover') !important;
      background-color: if($t == 'light', rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)) !important;

      .n-button__state-border {
        border-width: 1px !important;
      }
    }
  }
}
