span[class^="icon-"] {
  position: relative;
  left: 0.5px;
  top: 1px;
  width: 1.3em !important;
  height: 1.3em !important;
}

html span[class^="icon-"] {
  color: theme('colors.text');
}

[theme='light'] .icon-light {
  color: theme('colors.text') !important;
}

[theme='dark'] .icon-dark {
  color: theme('colors.text') !important;
}
